import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,500,700italic,900italic,900);

body{
	margin:0;
	padding:0;
	background:#fff;
    font-family:"proxima-nova", Arial, Helvetica, sans-serif !important;font-weight:300 !important;
}
*{
	margin:0;
	padding:0;
    font-family:"proxima-nova", Arial, Helvetica, sans-serif;
	color:#5e625f;
    font-weight:300;
}
img{
	border:0;
	width:100%;
}
a{
	text-decoration:none;
}
.row {
    clear: both;
}
.wrapper{
	float:left;
	overflow-x: hidden;
	width:100%;
}
.wrapper > div{
	clear:both;	
}
.container{
	margin:0 auto;
	max-width:965px;
	width:100%;
}
.top-head{
    float: left;
    padding: 20px 0 30px;
    width: 100%;
}
.top-nav{
	float:right;
	margin:0;	
    
}
.top-nav li{
	list-style:none;
	display:inline;
}
.top-nav li a{
	color:#5e625f;
	font-size:14px;
	margin:0 20px;
    text-decoration:none;
}

.navigate {
    float: left;
    padding: 30px 0;
	width:100%;
}
.contct-us > img {
    padding: 0 6px 0 0;
}
.logo {
    float: left;
}
.logo img {
    width: 170px;
}
.nav-main, .subNav {
    margin: 0 auto 25px;
    max-width: 695px;
    width: 100%;
}
.nav-main ul, .subNav ul{ 
	padding:0;
	margin:0;
}
.nav-main li{
	display: inline;
    float: left;
    list-style: none outside none;
    padding: 0 6.7%;
}
.subNav li{
	display: inline;
    float: left;
    list-style: none outside none;
    padding: 0 4%;
}
.nav-main a, .subNav a{
	border-bottom: 1px solid transparent;
    color: #5e625f !important;
    float: left;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
	letter-spacing:1px;
}
 .subNav a{
     font-size:12px;
 }
.nav-main li:first-child, .subNav li:first-child{
	padding-left:0;	
}
.nav-main li:last-child, .subNav li:last-child{
	padding-right:0;	
}
.nav-main a:hover, .nav-main a.active, .subNav a:hover, .subNav a.active, .top-nav a:hover, .top-nav a.active{
	border-bottom:1px solid #bec0be;
    font-weight:600;
}
.body-cart{
	height: 100%;
    margin: 0 auto;
    max-width: 695px;
    min-height: 800px;
    width: 100%;	
}

.bodyCartMar{
    margin: 30px auto 30px auto;

}
.cart-crousal {
    float: left;
    padding-bottom: 28px;
    position: relative;
    width: 100%;
}

.time-track img {
    width: 100%;
}
.cart-info {
    float: left;
    margin:0 0 0 35px;
    width: 100%;
}
.cart-info h6{
	color:#5e625f;
	font-size:24px;
	margin:20px 0 50px;
}
.cart-info p{
	color:#5e625f;
	font-size:14px;
}
.cart-info ul {
    float: left;
    margin: 40px 0;
    width: 100%;
}
.cart-info li {
    float: left;
    width: 100%;
	list-style:none;
	margin:4px 0;
}

.cart-info li  a{
    color: #5e625f;
    float: left;
    font-size: 14px;
    padding:2px 0 0 4px;
    width: 100%;
}
.cart-info li:hover  a{
	background:#5e625f;
	width:200px;
	color:#fff;	
	text-decoration:none;
}
.btn-default {
	background:none;
    border: 1px solid #5e625f;
    border-radius: 0;
    box-shadow: none;
    color: #5e625f;
    text-shadow: 0 0 0;
    width: 127px;
	display:block;
}
.btn-default:hover, .btn-default:focus {
	background:#5e625f;	
    border: 1px solid #5e625f;
	outline:none;
	box-shadow:none;
    color: #fff;
}
.cart-info span {
    color: #5e625f;
    float: left;
    font-size: 10px;
    margin: 10px 0;
}
.copy-txt {
    float: left;
    margin: 8px 0 0;
    font-size:12px;
}
.foot-nav {
    float: left;
    margin: 6px 0 0 8px;
}
.foot-nav li {
	list-style:none;
	display:inline;
}

.foot-nav li  a{
    color: #5e625f;
    font-size: 12px;
	padding:0 3px;
    text-decoration:none;
	
}
.foot-nav li  a:hover{
    border-bottom: 1px solid transparent;
}

.socil-link {
    float: right;
    text-align: right;
    width: 100%;
}
.socil-link li {
	list-style:none;
	display:inline;
}

.socil-link li  a i{
	background: none repeat scroll 0 0 #c0bfbf;
    color: #fff;
    font-size: 14px;
    height: 30px;
    margin: 0 6px;
    padding: 8px;
    text-align: center;
    width: 32px;
	border:1px solid transparent;
}
.socil-link li  a:hover i{
	background:#fff;
	border:1px solid #c0bfbf;
    color:#c0bfbf;
}

.navbar-header h5 {
    float: left;
    margin: 17px 0 0 13px;
	display:none;
	color:#5e625f;
}
.navbar-default, .mobil-footer{   
	display:none;	
}
.collect-part{
	background: none repeat scroll 0 0 #bbc8bd;
    float: none;
    letter-spacing: 1px;
    margin: 16px auto;
    min-width: 706px;
    padding: 2px 20px;
    width: 76%;
}
.collect-part span{
	color:#fff;
	font-size:14px;
	font-weight:400;
}
.body-collect{
	min-height:inherit;	
}
.gallry-img{
	float: left;
    margin-bottom: 35px;
    width: 101%;
}
.gallry-innr{
	float: left;
    margin: 0 1% 1% 0;
    width: 24%;
	position:relative;
}
.gallry-innr a{
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
	/*transition:opacity 0.8s ease 0.5s;*/
}
.coll-gall {
	float: left;
    margin: 0 1% 1% 0;
    width: 24%;
	position:relative;
}
.coll-gall a{
	position:absolute;
	width:100%;
	height:100%;
}
.imageCar{
    overflow:hidden;
}
.gllry-txt{
	background:rgba(0, 0, 0, 0.6);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align:center;
	display:block;	
	transition:background 0.5s;
}
.gllry-txt span {
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 63% auto 0;
    text-align: center;
    width: 123px;
}

.dropdown-menu {
    border-radius: 0;
}
#menu2 > li {
    float: left;
    padding: 0;
    width: 100%;
}
#menu2 li:hover a{
    background: none repeat scroll 0 0 #bbc8bd;
    float: left;
    width: 100%;
	color:#fff !important;
}
.dropdown.right-one .dropdown-menu {
    left: auto;
    right: 0;
}
.col-xs-1.right-one{
    left: auto;
    right: 15px;
}
.use-txt img {
    float: left;
    padding: 0 20px 15px 0;
    width: auto;
}
.use-txt h4{
	color: #5e625f;
    font-size: 18px;
    padding: 0 0 12px;
	letter-spacing:1px;
    text-transform:uppercase;
}
.use-txt p, .use-txt span{
	color: #5e625f;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 22px;
}
.video-area {
    float: left;
    margin: 0 22px 30px 0;
    max-width: 665px;
    width: 100%;
} 
.play-btn {
    position: relative;
}

.video-area button i {
    font-size: 30px;
    opacity: 0.7;
}
.video-area > div {
    float: left;
    position: relative;
}

.mobileOnly{
    display:none;
}
@media (max-width:1024px){
.gallry-innr{
	float: left;
    margin: 0 1% 1% 0;
    width:32.2%;
}
}

@media (max-width:767px){
.video-area {
    max-width: inherit;
	margin: 0 22px 11px 0;
}
.video-area > div {
    width: 100%;
}
.use-txt img {
    float: left;
    padding: 0 0 15px 0;
    width: 100%;
}
.body-cart {
    min-height: inherit;
    max-width:500px;
}
.navbar-header h5{
	display:block;	
}
.mobile-nav {
 	display: block;
    padding: 3px 0 9px;
}
.navbar-default{
	display:block;	
	border-radius: 3px;
    box-shadow: none;
    margin: 0;
}
 
.cart-info span, .socil-link, .foot-nav, .copy-txt, .top-nav, .large-nav, .gllry-wide, .collect-part{
	display:none;	
}

.btn-default {
	border: 1px solid #000;
    color: #020202;
    float: none;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 190px;
}

.btn-default:hover {
	border: 1px solid #000;
    color: #fff;
	background:#020202;
}

   
.cart-info li {
    display: inline;
    float: left;
    width: auto;
}
.cart-info li a{
    margin: 0 26px 0 0;
    width: 90px;
}
.cart-info li:hover  a{
    width: 90px;
	background:#000;
	color:#fff;	
	text-decoration:none;
}

.cart-info {
    margin: 0;
}
.cart-info h6 {
    margin: 10px 0;
}
.cart-info ul {
    margin: 15px 0 20px;
}
.cart-info {
    margin: 0 0 20px;
}
.cart-info span {
    width: 100%;
}

.foot-nav {
    margin: 0 0 17px;
    width: 100%;
}
.top-nav li a{
    padding: 0 6px;
}

.footer {
    float: left;
    width: 100%;
	background:#89938b;
}
.mobil-footer{
	display:block;	
}
.mobil-footer p{
	color: #acb3ac;
    float: left;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 9px 0;
}
.mobil-footer a{
	font-size:14px;
	color:#acb3ac;	
}

.logo {
    float: none;
    text-align: center;
}
.navigate{
	padding:5px 0	
}
.nav-main ul {
    text-align: center;
}
.nav-main li {
    width: 20%;
}
.nav-main a{
	color:#bdc6c3;
	float:none;
	width:auto;
	margin:0;
}
.nav-main a:hover, .nav-main a.active{
	border-bottom:1px solid #bdc6c3;
	font-weight: 500;
}
.gallry-innr {
    margin: 0 3% 3% 0;
    width: 47%;
}
.coll-gall{
	margin: 0 3% 3% 0;
    width: 47%;
}

}
@media (max-width:400px){
.body-cart {
    max-width:300px;
}
.exMobile{
    display:none;
}
.mobileOnly{
    display:block;
}
.subNav{
    margin-left:3px;
}
.top-nav {
    float: none;
    margin: 14px 0 0;
    text-align: center;
}
.cart-info li a {
    margin: 0 12px 0 0;
    width: 70px;
}
.cart-info li:hover a {
    width: 70px;
}
.nav-main li {
    width:auto;
	float:none;
	padding:0;
}
.nav-main a{
	margin:0 2px;	
}
.gllry-txt span {
    font-size: 10px;
    letter-spacing: 2px;
    width: 98px;
}
.coll-gall{
	float: left;
    margin: 0 3% 3% 0;
    width: 47%;
	position:relative;
}
.imageCar{
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    padding: 15px 15px;
    float: left;
}
@media (max-width:320px){
body{
	min-width:320px;	
}
.exMobile{
    display:none !important;
}
}
@media(min-width:768px){
	.gallry-innr:hover a{
		display:block;
		opacity:1;
	}	
}