<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'collection1.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'collection2.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'collection3.jpg' | asset_url }}" />
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 bot30" >
			<img class="img-responsive center-block" src="{{ 'collection4.jpg' | asset_url }}" />
		</div>
		
	</div>
	<div class="row">
        <div class="col-md-12 text-center">
            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
