<div class="container">
	<div class="row">
		<div class="col-md-6 bot30" >
			<img class="img-responsive center-block" src="{{ 'projects.jpg' | asset_url }}" />
		</div>
		<div class="col-md-6 bot30" >
		<h1 class="text-center">header</h1>
		<hr>
			Tousled brunch 90's, raw denim vinyl mlkshk put a bird on it squid. DIY Schlitz kogi, tote bag wayfarers lomo gluten-free kitsch. Gentrify fixie normcore, banjo ethnic seitan mixtape ethical selfies chambray drinking vinegar sriracha. Mumblecore chillwave mustache tote bag art party. Mumblecore Austin small batch sartorial meggings you probably haven't heard of them beard, quinoa Kickstarter sustainable church-key tofu salvia street art. Tonx cornhole Neutra paleo, master cleanse church-key cliche Carles ennui lomo. Umami Neutra Blue Bottle lo-fi Shoreditch, cornhole disrupt plaid Carles roof party yr VHS.

			Bushwick hella kitsch, Etsy narwhal VHS sustainable small batch McSweeney's fingerstache. Authentic crucifix bespoke skateboard street art, selfies pickled actually umami paleo narwhal mustache squid Brooklyn. Tattooed banh mi master cleanse, Tonx shabby chic Thundercats kogi deep v roof party. Cornhole sriracha iPhone bitters irony mustache Austin, Brooklyn Thundercats dreamcatcher literally. Typewriter 90's Vice occupy bicycle rights, fap Truffaut post-ironic. Selfies plaid leggings, sartorial hashtag brunch street art gentrify whatever chambray Marfa pour-over XOXO disrupt. Tumblr chia farm-to-table asymmetrical fap twee.
		</div>
	</div>
</div>
